input {
    margin: 0;
    padding: 0;
}

.booksForm {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bookInput {
    display: flex;
}

.bookInput > label {
    flex-basis: 55px;
}

.addBookButton {
    width: 80px;
}

body > div {
    border: 2px solid black;
    margin: 10px 2px;
    padding: 15px;
}
